@import "~spinthatshit/src/loaders";

.loaderWrapper {
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loader {
  @include loader11($color: #4481c3, $align: middle);
}
