.loaderWrapperFullScreen {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loaderWrapperFavoritesScreen {
  height: 20vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loaderWrapperLogin {
  padding: 3px 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loaderWrapperReview {
  padding: 4px 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
